<form action="/logCreate" method="post">
  Usuário ID: <input type="number" name="usuario_id"><br><br>
  Ação: <input type="text" name="acao"><br><br>
  Livro ID: <input type="number" name="livro_id"><br><br>
  Data: <input type="datetime-local" name="data"><br><br>
  <input type="submit" value="Salvar Log">
</form>
