<table border="1">
  <tr>
    <th>Usuário</th>
    <th>Ação</th>
    <th>Livro</th>
    <th>Data</th>
  </tr>
  {{#each logs}}
  <tr>
    <td>{{usuario_id}}</td>
    <td>{{acao}}</td>
    <td>{{livro_id}}</td>
    <td>{{data}}</td>
  </tr>
  {{/each}}
</table>
