<form action="/emprestimoCreate" method="post">
  Livro: <input type="text" name="livro"><br><br>
  Data de Empréstimo: <input type="date" name="data_emprestimo"><br><br>
  <label>Leitor:</label>
  <select name="leitorId">
    {{#each leitores}}
      <option value="{{id}}">{{nome}}</option>
    {{/each}}
  </select><br><br>
  <input type="submit" value="Cadastrar Empréstimo">
</form>
