<h2>Lista de Autores</h2>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each autores}}
      <tr>
        <td>{{this.nome}}</td>
        <td>
          <a href="/autor/update/{{this._id}}" class="btn btn-sm btn-primary">Editar</a>
          <a href="/autor/delete/{{this._id}}" class="btn btn-sm btn-danger">Excluir</a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="2" class="text-center">Nenhum autor cadastrado.</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<a href="/autor/create" class="btn btn-success mt-3">Novo Autor</a>