<h2>Login</h2>

{{#if error}}
  <div style="color: red; margin-bottom: 10px;">
    {{error}}
  </div>
{{/if}}

<form action="/usuarioLogin" method="post">
  Email: <input type="email" name="email" required><br><br>
  Senha: <input type="password" name="senha" required><br><br>
  <input type="submit" value="Entrar">
</form>
