{{!-- views/layouts/main.handlebars --}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Biblioteca Digital</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/estilo.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <center>
    <header style="text-align:center; margin-bottom: 20px;">
      <img src="biblioteca.jpeg" alt="Logo" width="150">
      <h1>Biblioteca Digital</h1>
    </header>

    <!-- Usuários -->
    <a href="/usuarioCreate" class="btn btn-outline-primary mb-2">Cadastrar Usuário</a>
    <a href="/usuarioList"   class="btn btn-outline-primary mb-2">Listar Usuários</a>

    <a href="/autor/create" class="btn btn-outline-secondary mb-2">Cadastrar Autor</a>
    <a href="/autor/list" class="btn btn-outline-secondary mb-2">Listar Autores</a>
    <a href="/autor/livros" class="btn btn-outline-secondary mb-2">Livros por Autor</a>

    <!-- Categorias -->
    <a href="/categoriaCreate"    class="btn btn-outline-primary mb-2">Cadastrar Categoria</a>
    <a href="/categoriaList"      class="btn btn-outline-primary mb-2">Listar Categorias</a>

    <!-- Empréstimos -->
    <a href="/emprestimo/create" class="btn btn-outline-success mb-2">Registrar Empréstimo</a>
    <a href="/emprestimo/list"   class="btn btn-outline-success mb-2">Listar Empréstimos</a>

    <!-- Logs -->
    <a href="/logUsuario/list" class="btn btn-outline-info mb-2">Ver Logs</a>

    <!-- Livros -->
    <a href="/livro/create" class="btn btn-outline-warning mb-2">Novo Livro</a>
    <a href="/livro/list"   class="btn btn-outline-warning mb-2">Livros Disponíveis</a>

    <!-- Mock API -->
    <a href="/json-server" class="btn btn-outline-secondary mb-2">Mock API</a>

    <!-- Home / Logout -->
    <a href="/home"   class="btn btn-outline-primary mb-2">Home</a>
    <a href="/logout" class="btn btn-outline-danger mb-2">Logout</a>

    <hr style="width: 80%; margin: 20px auto;">
    {{{ body }}}
  </center>
</body>
</html>
