<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Biblioteca Digital</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/estilo.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="centered">
  <center>
    <header style="text-align:center; margin-bottom: 20px;">
      <img src="/images/logo.png" alt="Logo" width="150">
      <h1>Biblioteca Digital</h1>
    </header>

    {{#if login}}
      <a href="/home" class="btn btn-outline-primary mb-2">Home</a>
      <a href="/logout" class="btn btn-outline-danger mb-2">Logout</a>
    {{/if}}

    {{#if admin}}
      <hr style="width:80%;margin:10px auto">
      <h5>Administração</h5>
      <a href="/usuarioCreate"      class="btn btn-outline-primary mb-2">Cadastrar Usuário</a>
      <a href="/usuarioList"        class="btn btn-outline-primary mb-2">Listar Usuários</a>

      <a href="/categoriaCreate"    class="btn btn-outline-secondary mb-2">Cadastrar Categoria</a>
      <a href="/categoriaList"      class="btn btn-outline-secondary mb-2">Listar Categorias</a>

      <a href="/autor/create"       class="btn btn-outline-secondary mb-2">Cadastrar Autor</a>
      <a href="/autor/list"         class="btn btn-outline-secondary mb-2">Listar Autores</a>

      <a href="/livro/create"       class="btn btn-outline-warning mb-2">Novo Livro</a>
    {{/if}}

    {{#if login}}
      <hr style="width:80%;margin:10px auto">
      <h5>Operações Gerais</h5>
      <a href="/livro/list"         class="btn btn-outline-warning mb-2">Livros Disponíveis</a>

      <a href="/emprestimo/create"  class="btn btn-outline-success mb-2">Registrar Empréstimo</a>
      <a href="/emprestimo/list"    class="btn btn-outline-success mb-2">Listar Empréstimos</a>

      <a href="/autor/livros"       class="btn btn-outline-secondary mb-2">Livros por Autor</a>

    {{/if}}

    <hr style="width:80%;margin:20px auto">
    {{{ body }}}
  </center>
  </div>
</body>
</html>
