<!DOCTYPE html>
<html>
<head>
  <title>Biblioteca Digital</title>
</head>
<body>
  <center>
    <h1>Biblioteca Digital</h1>

    <a href="/usuarioCreate"><button>Cadastrar Usuário</button></a>
    <a href="/usuarioList"><button>Listar Usuários</button></a>

    <a href="/leitorCreate"><button>Cadastrar Leitor</button></a>
    <a href="/leitorList"><button>Listar Leitores</button></a>

    <a href="/emprestimoCreate"><button>Registrar Empréstimo</button></a>
    <a href="/emprestimoList"><button>Listar Empréstimos</button></a>

    <a href="/logCreate"><button>Registrar Log</button></a>
    <a href="/logList"><button>Ver Logs</button></a>

    <a href="/logout"><button>Logout</button></a>

    
    <hr>

    {{{ body }}}
  </center>
</body>
</html>
